.dish-container {
    text-align: center;
    color: #ff6f00; /* Light text color for contrast against dark background */
}

.dish-table {
    display: inline-table;
    border-collapse: collapse;
    margin-top: 20px;
}

.navbar-custom {
    color: #ffaf !important; /* Golden color */
}

.dish-card {
    border: 1px solid #ff9100;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
    text-align: center;
    background: linear-gradient(to right, #2d1403, #281100FF); /* Flames of yellow-orange color */
    box-shadow: 0 5px 5px #ffad00;
}

.dish-card img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
}

.details-link {
    display: block;
    margin-top: 10px;
    color: #ffdbac; /* Light text color for contrast against dark background */
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.order-button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    background-color: #ffaf00; /* Yellow-orange color */
    color: #2c3034; /* Dark text color for contrast */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

.order-button:hover {
    background-color: #ffdbac; /* Lighter shade of yellow-orange on hover */
}
