html {
  font-size: 14px;
}

header {
  background-color: rgba(33, 24, 16, 0);
  color: #ff4300;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

body {
  background: url('https://sivach.blob.core.windows.net/sivach/fire-wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}